.nav-block-wrapper{
  margin-bottom:60px;
}
.navbar, .dropdown-menu {
  background: rgba(255, 255, 255, 0.95);
  border: none;
}

.nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
  border-bottom: 3px solid transparent;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  border-bottom: 3px solid transparent;
  background: none;
}

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
  color: #020202;
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav li:hover, .nav li.active {
  border-bottom: $color-green 3px solid;
}

.navbar-toggle .icon-bar {
  color: #fff;
  background: #020202;
}

.navbar-brand{
  background: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  display: inline-block;
  min-width: 100px;
}