{% extends '@Workshop/base.html.twig' %}
{% block banner %}
    <h1>Welcome to the doctrine workshop!</h1>
    <p>
        This project will be available to you after the workshop.
    </p>
    <img src="{{ asset('bundles/workshop/images/meme.jpg') }}" alt="meme about workshop">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}