<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Doctrine workshop</title>
    {% block stylesheets %}
        {% stylesheets'@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/workshop/css/styles.css') }}"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="nav-block-wrapper">
        {% block nav %}
            <div class="navbar-wrapper">
                <div class="container-fluid">
                    <nav class="navbar navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Logo</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav pull-right">
                                    <li class="active"><a href="#" class="">Home</a></li>
                                    {% if app.user %}
                                        <li class=" dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">
                                                Signed in as <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Change Password</a></li>
                                                <li><a href="#">My Profile</a></li>
                                                <li><a href="#">Logout</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="#" class="">Login</a></li>
                                        <li><a href="#" class="">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="banner-block-wrapper">
        {% block banner %}
        {% endblock %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div>
        {% block footer %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@jquery'
    '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
